.slogan{
    /* background-image: url("../../assets/images/paladins.b44d33d6e7ee1ba8.png"); */
    background-image:
    linear-gradient(to bottom, rgba(0, 0, 0,0.3), rgba(0, 0, 0,0.3)),
    url("../../assets/images/paladins.b44d33d6e7ee1ba8.png");
    background-position: center center;
    background-size: cover;
}
.home{
    height: 100vh;
    background-color: #272b30 !important ;
}